[user]
	email = rodrigosannicolas@gmail.com
	name = Rodrigo San Nicolas
[init]
  defaultBranch = main
[core]
	editor = nvim
[alias]
  a = add
  c = commit
  cm = commit -m
  co = checkout
  cob = checkout -b
  f = fetch origin
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  po = push origin
  psuo = push --set-upstream origin
  st = status -sb
